@font-face {
	font-family: Apercu-Medium;
	src: url(./font-familiy/Apercu-Medium.ttf);
}

body {
	font-family: Apercu-Medium, "Circular", Sans-serif !important;*/
	color: black;
}

.header, .grid {
	margin: 30px;
}

.header {
	/*width: 100%;*/
	height: 64px;
	/*float: left;*/
}

#name {
	display: inline-block;
	float: left;
	/*margin: 20px 0px 0px 50px;*/
	margin: 0px;
	font-size: 64px;
	cursor: pointer;
}

#name:hover {
	color: rgba(0, 0, 0, 0.665);
}

#info {
	width: 50%;
	display: none;
	/*margin-left: 30px;*/
	padding: 20px;
	font-size: 24px;
	position: absolute;
	top: 94px;
	left: 20px;
	z-index: 100000;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	/*box-shadow: 10px 10px 20px 20px #DDDDDD;*/
}

.arrange {
	display: inline-block;
	float: right;
	width: 50px;
	font-size: 48px;
	/*margin-top: 20px;*/
	cursor: pointer;
	line-height: 64px;
}

.arrange:hover {
	color: rgba(0, 0, 0, 0.665);
}

#togrid {
	font-size: 64px;
	font-weight: bold;
}

/*.grid {
	position: absolute;

}*/

/*#shuffleBackground {*/
	/*position: absolute;*/
	/*display: block;*/
	/*left: 0;*/
	/*right: 0;*/
	/*left: 0;*/

	/*float: left;*/
	/*width: 100%;*/
/*}*/

/*#shuffleBackground img {
	width: 100%;
}*/

.tile {
	cursor: pointer;
	/*padding: 10px;*/
	margin: 8px 0px 10px 0px;
	/*list-style-type: none;*/
	width: calc(33.33333% - 10.66px);
	/*height: 300px;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*background-color: rgba(15, 15, 15, 0);*/
	position: absolute;
	/*float: left;*/
}

.tile.wide {
	/*width: 616px;*/
	width: calc(66.66666% - 21.33px + 16px);
}

.tile img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.mask {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	opacity: 0;
	transition: all 0.3s;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.mask > div {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}

.mask div div {
	display: table-cell;
	vertical-align: middle;
	color: black;
	font-size: 24px;
}
.mask:hover {
	/*background: rgba(15, 15, 15, 0.7);*/
	opacity: 1;
}

#dimmer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 100000;
}

.carousel {
	position: fixed;
	top: 10%;
	width: 100%;
	/*height: 80%;*/
	z-index: 100001;
}

.carousel div img {
	/*max-width: 30%;*/
	width: 400px;
	cursor: pointer;
}