@font-face {
	font-family: Apercu-Medium;
	src: url(./font-familiy/Apercu-Medium.ttf);
}

@font-face {
	font-family: Apercu-Light;
	src: url(./font-familiy/Apercu-Light.ttf);
}

body {
	font-family: Apercu-Medium, "Circular", Sans-serif !important;*/
	color: black;
}

.header, .grid {
	margin: 30px;
}

.grid {
	margin-top: 0px;
	margin-right: 14px;
	z-index: 1;
	/*display: -webkit-flex;*/
	display: flex;
}

.header {
	/*width: 100%;*/
	height: 64px;
	/*float: left;*/
	/*margin-bottom: 30px;*/
}

#name {
	display: inline-block;
	float: left;
	/*margin: 20px 0px 0px 50px;*/
	margin: 0px;
	font-size: 64px;
	cursor: pointer;
}

#name:hover {
	color: rgba(0, 0, 0, 0.5);
}

#info {
	width: calc(100% - 60px);
	display: none;
	/*margin-left: 30px;*/
	margin: 0px;
	/*margin-bottom: -20px;*/
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 1px;
	font-size: 36px;
	line-height: 48px;
	position: relative;
	/*top: 94px;*/
	/*left: 20px;*/
	z-index: 1000000;
	background-color: white;
	/*border-radius: 0px 0px 5px 5px;*/
	box-shadow: rgb(0, 0, 0) -1px 12px 13px -14px;
	-webkit-box-shadow: rgb(0, 0, 0) -1px 12px 13px -14px;
}

.arrange {
	display: inline-block;
	float: right;
	width: 50px;
	/*height: 80px;*/
	font-size: 48px;
	padding-top: 16px;
	/*height: 80px;*/
	margin: 0px;
	cursor: pointer;
	/*line-height: 64px;*/
}

.arrange:hover {
	color: rgba(0, 0, 0, 0.5);
}

/*#togrid {
	font-size: 64px;
	font-weight: bold;
}*/

/*.grid {
	position: absolute;

}*/

/*#shuffleBackground {*/
	/*position: absolute;*/
	/*display: block;*/
	/*left: 0;*/
	/*right: 0;*/
	/*left: 0;*/

	/*float: left;*/
	/*width: 100%;*/
/*}*/

/*#shuffleBackground img {
	width: 100%;
}*/

.tile {
	cursor: pointer;
	/*padding: 10px;*/
	margin: 0px 0px 16px 0px;
	/*list-style-type: none;*/
	/*width: calc(33.33333% - 10.66px);*/
	/*height: 300px;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*background-color: rgba(15, 15, 15, 0);*/
	position: absolute;
	/*float: left;*/
	-webkit-flex: 1;
	flex: 1;
	/*-webkit-order:;*/
	/*order:;*/
	/*max-width: 500px;*/
	/*max-width: ;*/
}

.tile.wide {
	/*width: 616px;*/
	/*width: calc(66.66666% - 21.33px + 16px);*/
	-webkit-flex: 1.5;
	flex: 1.5;
}

.tile.wider {
	-webkit-flex: 2;
	flex: 2;
}

@media screen and (max-width: 10000px) {
	.header {
		height: 64px;
	}
	#name {
		font-size: 64px;
	}
	#info {
		font-size: 36px;
		line-height: 48px;
	}
	.arrange {
		font-size: 48px;
		padding-top: 16px;
	}
/*	.tile {
		width: calc(25% - 16px);
	}
	.wide {
		width: calc(37.5% - 16px);
	}
	.wider {
		width: calc(50% - 16px);
	}*/
}

@media screen and (max-width: 1200px) {
	.header {
		height: 48px;
	}
	#name {
		font-size: 48px;
	}
	#info {
		font-size: 30px;
		line-height: 42px;
	}
	.arrange {
		font-size: 42px;
		padding-top: 8px;
	}
/*	.tile {
		width: calc(33.33333% - 16px);
	}
	.wide {
		width: calc(50% - 16px);
	}
	.wider {
		width: calc(66.66666% - 16px);
	}*/
}

@media screen and (max-width: 800px) {
	.header {
		height: 36px;
	}
	#name {
		font-size: 36px;
	}
	#info {
		font-size: 24px;
		line-height: 30px;
	}
	.arrange {
		font-size: 30px;
		padding-top: 6px;
	}
/*	.tile {
		width: calc(50% - 16px);
	}
	.wide {
		width: calc(75% - 16px);
	}
	.wider {
		width: calc(100% - 16px);
	}*/
}

@media screen and (max-width: 400px) {
	.header {
		height: 24px;
	}
	#name {
		font-size: 24px;
	}
	#info {
		font-size: 18px;
		line-height: 24px;
	}
	.arrange {
		font-size: 24px;
		padding-top: 0px;
	}
/*	.tile {
		width: calc(100% - 16px);
	}
	.wide {
		width: calc(100% - 16px);
	}
	.wider {
		width: calc(100% - 16px);
	}*/
}

.tile img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.mask {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	opacity: 0;
	transition: all 0.3s;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.mask > div {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}

.mask div div {
	display: table-cell;
	vertical-align: middle;
	color: black;
	font-size: 24px;
}
.mask:hover {
	/*background: rgba(15, 15, 15, 0.7);*/
	opacity: 1;
}

#dimmer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	z-index: 100000;
}

.carousel {
	position: fixed;
	top: 10%;
	width: 100%;
	/*height: 80%;*/
	z-index: 100001;
}

.carousel div img {
	/*max-width: 30%;*/
	/*height: 80%;*/
	cursor: pointer;
}

#carousel-label {
	font-size: 30px;
	color: black;
	position: fixed;
	top: calc(10% - 44px);
	width: 100%;
	text-align: center;
	z-index: 100002;
}

#carousel-caption {
	font-family: Apercu-Light;
	color: black;
	position: fixed;
	top: calc(90% + 20px);
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	z-index: 100002;
}




.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}